/**

    References:
      https://protocol.mozilla.org/
      https://material.io/

*/

/**
    Color names from:
      https://protocol.mozilla.org/fundamentals/color.html
*/
:root {
    --blue-5: 170 242 255;
    --blue-10: 128 235 255;
    --blue-20: 0 221 255;
    --blue-30: 0 179 244;
    --blue-40: 0 144 237;
    --blue-50: 0 96 223;
    --blue-60: 2 80 187;
    --blue-70: 5 64 150;
    --blue-80: 7 48 114;
    --blue-90: 9 32 77;
    --dark-gray-10: 173.1 171.9 179.9;
    --dark-gray-20: 151.8 150.6 158.4;
    --dark-gray-30: 131 129.9 137.5;
    --dark-gray-40: 110.8 109.7 117.1;
    --dark-gray-50: 91.2 90.2 97.3;
    --dark-gray-60: 72.4 71.4 78.2;
    --dark-gray-70: 54.3 53.3 59.9;
    --dark-gray-80: 37.1 36.2 42.4;
    --dark-gray-90: 21 20 26;
    --green-30: 136 255 209;
    --green-40: 84 255 189;
    --green-50: 63 225 176;
    --green-60: 42 195 162;
    --green-70: 0 135 135;
    --green-80: 0 94 94;
    --ink-80: 32 18 58;
    --light-gray-10: 249 249 251;
    --light-gray-20: 240 240 244;
    --light-gray-30: 224 224 230;
    --light-gray-40: 207 207 216;
    --light-gray-50: 191 191 201;
    --light-gray-60: 175 175 186;
    --light-gray-70: 159 159 173;
    --light-gray-80: 143 143 158;
    --light-gray-90: 128 128 143;
    --orange-5: 255 244 222;
    --orange-10: 255 213 178;
    --orange-20: 255 181 135;
    --orange-30: 255 162 102;
    --orange-40: 255 138 80;
    --orange-50: 255 113 57;
    --orange-60: 226 89 32;
    --orange-70: 204 61 0;
    --orange-80: 158 40 11;
    --orange-90: 124 21 4;
    --purple-5: 247 226 255;
    --purple-10: 246 184 255;
    --purple-20: 246 143 255;
    --purple-30: 247 112 255;
    --purple-40: 215 76 240;
    --purple-50: 184 51 225;
    --purple-60: 149 43 185;
    --purple-70: 114 34 145;
    --purple-80: 78 26 105;
    --purple-90: 43 17 65;
    --red-20: 255 154 162;
    --red-30: 255 132 139;
    --red-40: 255 106 117;
    --red-50: 255 79 94;
    --red-60: 226 40 80;
    --red-70: 197 0 66;
    --violet-5: 231 223 255;
    --violet-10: 217 191 255;
    --violet-20: 203 158 255;
    --violet-30: 198 137 255;
    --violet-40: 171 113 255;
    --violet-50: 144 89 255;
    --violet-60: 117 66 229;
    --violet-70: 89 42 203;
    --violet-80: 69 39 141;
    --violet-90: 50 28 100;
    --yellow-5: 255 255 204;
    --yellow-10: 255 255 152;
    --yellow-20: 255 234 128;
    --yellow-30: 255 213 103;
    --yellow-40: 255 189 79;
    --yellow-50: 255 164 54;
    --yellow-60: 226 127 46;
    --yellow-70: 196 90 39;
    --yellow-80: 167 52 31;
    --yellow-90: 150 14 24;
}

/**
    Font size
*/
:root {
    --font-size: 14px;
}

:root.mobile {
    --font-size: 16px;
}

/**
    Components
*/
:root {
    --font-size: 14px;

    --ubo-red: #800000;

    /* https://material.io/design/interaction/states.html#anatomy */
    --elevation-up-surface: black;
    --elevation-up1-opacity: 4%;
    --elevation-up2-opacity: 8%;
    --elevation-down-surface: white;
    --elevation-down1-opacity: 16%;
    --elevation-down2-opacity: 32%;

    --root-surface: white;
    --root-ink: black;

    --ink-rgb: var(--ink-80);
    --ink-shade-1: 90%;
    --ink-shade-2: 80%;
    --ink-shade-3: 70%;
    --ink-shade-4: 60%;
    --ink-shade-5: 50%;
    --ink-shade-6: 40%;
    --ink-shade-7: 30%;
    --ink-shade-8: 20%;
    --ink-shade-9: 10%;

    --default-ink: rgb(var(--ink-rgb));
    --default-ink-1: rgb(var(--ink-rgb) / var(--ink-shade-1));
    --default-ink-2: rgb(var(--ink-rgb) / var(--ink-shade-2));
    --default-ink-3: rgb(var(--ink-rgb) / var(--ink-shade-3));
    --default-ink-4: rgb(var(--ink-rgb) / var(--ink-shade-4));
    --default-ink-5: rgb(var(--ink-rgb) / var(--ink-shade-5));
    --default-ink-6: rgb(var(--ink-rgb) / var(--ink-shade-6));
    --default-ink-8: rgb(var(--ink-rgb) / var(--ink-shade-8));

    --default-surface: rgb(var(--light-gray-10));
    --default-surface-up1: rgb(var(--light-gray-20));
    --default-surface-up2: rgb(var(--light-gray-30));
    --default-surface-up3: rgb(var(--light-gray-40));
    --default-surface-up4: rgb(var(--light-gray-50));
    --default-surface-up5: rgb(var(--light-gray-60));
    --default-surface-up6: rgb(var(--light-gray-70));
    --default-surface-up7: rgb(var(--light-gray-80));

    --accent-ink: var(--default-surface);
    --accent-surface: rgb(var(--violet-80));

    --link-ink: var(--accent-surface);

    --fieldset-header-surface: transparent;
    --fieldset-header-ink: var(--default-ink-3);

    --button-ink: var(--default-ink);
    --button-surface: var(--default-surface-up2);
    --button-border-radius: 5px;
    --button-preferred-ink: var(--accent-ink);
    --button-preferred-surface: var(--accent-surface);
    --button-disabled-filter: opacity(38%);

    --checkbox-size: calc(var(--font-size) + 2px);
    --checkbox-ink: var(--default-ink-4);
    --checkbox-checked-ink: var(--accent-surface);
    --checkbox-disabled-filter: opacity(38%);

    --notice-ink: var(--default-ink);
    --notice-surface: rgb(var(--yellow-5));
    --notice-surface-shadow: #ddd 0 2px 4px;

    --dashboard-bar-shadow:
        0px 0px 0px  1px rgb(var(--ink-rgb) /  4%),
        0px 1px 2px  0px rgb(var(--ink-rgb) /  4%),
        0px 2px 1px -1px rgb(var(--ink-rgb) / 12%),
        0px 1px 6px  0px rgb(var(--ink-rgb) / 12%);
    --dashboard-tab-ink: var(--default-ink);
    --dashboard-tab-active-ink: var(--accent-surface);
    --dashboard-tab-surface-hover: var(--default-surface-up1);
    --dashboard-tab-border-hover: var(--default-surface-up2);

    --info0-ink: var(--default-ink);
    --info0-ink-dimmed: var(--default-ink-5);
    --info1-ink: rgb(var(--blue-50));
    --info1-ink-dimmed: rgb(var(--blue-50) / 60%);
    --info2-ink: rgb(var(--yellow-50));
    --info2-ink-dimmed: rgb(var(--yellow-50) / 60%);
    --info3-ink: rgb(var(--orange-60));
    --info3-ink-dimmed: rgb(var(--orange-60) / 60%);
    --info4-ink: rgb(var(--red-70));
    --info4-ink-dimmed: rgb(var(--red-70) / 60%);

    /* popup panel */
    --popup-cell-surface: var(--default-surface-up2);
    --popup-cell-label-filter: opacity(40%);
    --popup-cell-cname-ink: rgb(var(--blue-50));
    --popup-cell-allow-own-surface: #008c00;
    --popup-cell-allow-surface: #008c0060;
    --popup-cell-noop-own-surface: #777777;
    --popup-cell-noop-surface: #77777768;
    --popup-cell-block-own-surface: #e12912;
    --popup-cell-block-surface: #e1291250;
    --popup-cell-label-mixed-surface: #c29100;
    --popup-icon-x-ink: rgb(var(--red-60));
    --popup-power-ink: rgb(var(--blue-50));
    --popup-ruleset-tool-ink: var(--default-ink);
    --popup-ruleset-tool-surface: rgb(var(--yellow-5) / 50%);
    --popup-ruleset-tool-shadow: #ddd 0 2px 4px;

    /* horizontal line separator */
    --hr-ink: var(--default-surface-up2);

    /* cloud widget */
    --cloud-total-used-surface: rgb(var(--violet-60) / 25%);
    --cloud-used-surface: rgb(var(--violet-60));

    /* codemirror */
    --cm-active-line: var(--default-surface-up1);
    --cm-cursor: var(--root-ink);
    --cm-foldmarker-ink: rgb(var(--blue-40));
    --cm-gutter-border: var(--default-surface-up2);
    --cm-gutter-ink: var(--default-ink-5);
    --cm-gutter-surface: var(--default-surface-up1);
    --cm-matchingbracket: rgb(var(--green-30));
    --cm-merge-copy-ink: rgb(var(--blue-50));
    --cm-merge-l-chunk-border: rgb(var(--blue-5));
    --cm-merge-l-chunk-surface: rgb(var(--blue-5) / 20%);
    --cm-negative: #c00;
    --cm-positive: #080;
    --cm-selection-surface: #8cf4;
    --cm-selection-ink: var(--default-ink);
    --cm-searching-ink: inherit;
    --cm-searching-surface: rgb(var(--yellow-20) / 80%);
    --cm-search-match-surface: rgb(var(--yellow-40) / 50%);

    /* syntax highlight: static filtering */
    --sf-comment-ink: var(--default-ink-5);
    --sf-def-ink: rgb(var(--blue-50));
    --sf-directive-ink: var(--default-ink);
    --sf-error-ink: rgb(var(--red-60));
    --sf-error-surface: rgb(var(--red-60) / 10%);
    --sf-keyword-ink: rgb(var(--purple-60));
    --sf-notice-ink: var(--default-surface-up5);
    --sf-readonly-ink: var(--default-ink-6);
    --sf-tag-ink: rgb(var(--green-60));
    --sf-value-ink: rgb(var(--orange-70));
    --sf-variable-ink: var(--default-ink);
    --sf-warning-ink: rgb(var(--yellow-50));

    /* syntax highlight: dynamic filtering */
    --df-allow-ink: var(--cm-positive);
    --df-block-ink: var(--cm-negative);
    --df-noop-ink: rgb(var(--dark-gray-10));

    /* logger */
    --logger-allowed-surface: #00a00014;
    --logger-blocked-surface: #c0000014;
    --logger-modified-surface: #0000c010;
    --logger-redirected-surface: rgb(var(--yellow-5) / 50%);
    --logger-blocked-em-surface: #c0000036;
    --logger-modified-em-surface: #0000c028;
    --logger-allowed-em-surface: #00a00036;
}

/**
    Source for color-blind color scheme from https://github.com/WyohKnott:
      https://github.com/chrisaljoudi/uBlock/issues/467#issuecomment-95177219
 */
:root.colorBlind {
    --popup-cell-allow-surface: #ffb30060;
    --popup-cell-allow-own-surface: #ffb300;
    --popup-cell-block-surface: #00158060;
    --popup-cell-block-own-surface: #001580;
    --popup-cell-label-mixed-surface: #ff6a00;
}

/**
    Default dark theme starts here

    Assign a default background color if dark mode is enabled -- hopefully
    this will avoid flashes of white background until the document's own CSS
    overrides the default color value below.
    https://github.com/uBlockOrigin/uBlock-issues/issues/1027#issuecomment-629641072
*/

/* https://material.io/design/color/dark-theme.html */
:root.dark {
    --elevation-down-surface: black;
    --elevation-down1-opacity: 16%;
    --elevation-down2-opacity: 32%;
    --elevation-up-surface: white;
    --elevation-up1-opacity: 12%;
    --elevation-up2-opacity: 24%;

    --root-surface: black;
    --root-ink: white;

    --ink-rgb: var(--light-gray-10);

    --default-surface: rgb(var(--dark-gray-90));
    --default-surface-up1: rgb(var(--dark-gray-80));
    --default-surface-up2: rgb(var(--dark-gray-70));
    --default-surface-up3: rgb(var(--dark-gray-60));
    --default-surface-up4: rgb(var(--dark-gray-50));
    --default-surface-up5: rgb(var(--dark-gray-40));
    --default-surface-up6: rgb(var(--dark-gray-30));
    --default-surface-up7: rgb(var(--dark-gray-20));

    --accent-ink: rgb(var(--ink-80));
    --accent-surface: rgb(var(--violet-10));

    --notice-ink: var(--accent-ink);
    --notice-surface: var(--accent-surface);
    --notice-surface-shadow: #000 0 2px 4px;

    --info1-ink: rgb(var(--blue-40));
    --info1-ink-dimmed: rgb(var(--blue-40) / 80%);
    --info2-ink: rgb(var(--yellow-40));
    --info2-ink-dimmed: rgb(var(--yellow-40) / 80%);
    --info3-ink: rgb(var(--orange-40));
    --info3-ink-dimmed: rgb(var(--orange-40) / 80%);
    --info4-ink: rgb(var(--red-40));
    --info4-ink-dimmed: rgb(var(--red-40) / 80%);

    /* popup panel */
    --popup-cell-surface: var(--default-surface-up2);
    --popup-cell-label-filter: opacity(40%);
    --popup-cell-cname-ink: hsla(0, 0%, 53%, 0.3);
    --popup-cell-allow-own-surface: #24a719;
    --popup-cell-allow-surface: #24a719a0;
    --popup-cell-noop-own-surface: #919191;
    --popup-cell-noop-surface: #919191a0;
    --popup-cell-block-own-surface: #ff4c2b;
    --popup-cell-block-surface: #ff4c2b90;
    --popup-cell-label-mixed-surface: hsla(45, 100%, 38%, 1);
    --popup-icon-x-ink: rgb(var(--red-50));
    --popup-power-ink: rgb(var(--blue-40));
    --popup-ruleset-tool-ink: var(--accent-ink);
    --popup-ruleset-tool-surface: var(--default-surface-up7);
    --popup-ruleset-tool-shadow: #000 0 2px 4px;

    /* cloud widget */
    --cloud-total-used-surface: rgb(var(--violet-20) / 25%);
    --cloud-used-surface: rgb(var(--violet-20));

    /* codemirror */
    --cm-merge-copy-ink: rgb(var(--blue-30));
    --cm-foldmarker-ink: rgb(var(--blue-20));
    --cm-matchingbracket: rgb(var(--green-30) / 50%);
    --cm-merge-l-chunk-border: rgb(var(--blue-70));
    --cm-merge-l-chunk-surface: rgb(var(--blue-90));
    --cm-negative: #f44;
    --cm-positive: #0c0;
    --cm-searching-ink: var(--root-surface);
    --cm-searching-surface: rgb(var(--blue-30) / 75%);
    --cm-search-match-surface: rgb(var(--blue-30) / 50%);

    /* syntax highlight: static filtering */
    --sf-comment-ink: var(--default-ink-4);
    --sf-def-ink: rgb(var(--blue-20));
    --sf-error-ink: rgb(var(--red-40));
    --sf-error-surface: rgb(var(--red-40) / 40%);
    --sf-keyword-ink: rgb(var(--purple-10));
    --sf-notice-ink: var(--default-surface-up5);
    --sf-readonly-ink: var(--default-ink-6);
    --sf-tag-ink: rgb(var(--green-50));
    --sf-value-ink: rgb(var(--orange-30));
    --sf-variable-ink: var(--default-ink);
    --sf-warning-ink: rgb(var(--yellow-50));

    /* logger */
    --logger-allowed-surface: #24a71960;
    --logger-blocked-surface: #ff4c2b60;
    --logger-modified-surface: #663efd60;
    --logger-redirected-surface: rgb(var(--yellow-5) / 40%);
}

:root.dark.colorBlind {
}
